body {
    background-color:black;
    color:white;
}

.card{
    border-radius: 4px;
    background:rgba(170, 178, 252, 0.356);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -khtml-user-select:none;
    -ms-user-select:none;
}

.card:hover{
    transform: scale(1.05);
}

.loader{
    margin-top:15px;
}

.navbar{
    background-color:rgba(170, 178, 252, 0.356);
}

.phone-nav{
    background-color:rgba(62, 80, 247, 0.356);
    user-select: none;
    display:none;
}

.burger-menu{
    height:2.4rem;
    width: 50px;
    display:none;
    flex-direction:column;
    justify-content:center;
    position:absolute;
    right:0;
    top:8px;
}

.form-row{
    margin-right:0;
    margin-left:0;
}

.burger-menu div{
    width: 40px;
    height:6px;
    background:white;
    border-radius:5px;
    margin-top:auto;
    margin-bottom:auto;
    transition: all .5s ease-in-out;
}

.hideable-phone{
    display:flex;
}

@media only screen and (max-width: 700px){
    .backlog-container{
        flex-direction:column;
    }

    .backlog-col{
        max-width:100%;
    }

    .hideable-phone{
        display:none;
    }

    .burger-menu{
        display:flex;
    }

    .phone-nav{
        display:flex;
    }
}
